/* 
    Created on : 11.11.2015, 9:55:38
    Author     : AIR
*/

#logo a { width: 100%; }

header, footer {
    color: white;
}

header {
    background: #005bac;
}

footer {
    background: #00539F;
    min-height: 100px;
}
